<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Ubah Data Keluarga</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	
	<div class="container">
		<h1 class="page-header">Ubah Data Keluarga</h1>
	
		<form th:action="'/keluarga/ubah/' + ${keluarga.nomorKk}" method="post" th:object="${keluarga}">
			<div>
				<label for="alamat">Alamat</label> 
				<input class="form-control mr-sm-2"
						type="text"
						placeholder="Alamat"
						aria-label="Alamat" name="alamat" th:value="${keluarga.alamat}"/>
			</div>
			<div>
				<label for="rt">RT</label> 
				<input class="form-control mr-sm-2"
						type="text"
						placeholder="RT"
						aria-label="Jenis Kelamin"
						name="rt" th:value="${keluarga.rt}"/>
			</div>
			<div>
				<label for="rw">RW</label> 
				<input class="form-control mr-sm-2"
						type="text"
						placeholder="RW"
						aria-label="RW"
						name="rw" th:value="${keluarga.rw}"/>
			</div>
			<div>
				<label for="kelurahan">Kelurahan</label> 
				<input class="form-control mr-sm-2"
						type="text"
						placeholder="Kelurahan"
						aria-label="Kelurahan"
						name="kelurahan" th:value="${keluarga.kelurahan}"/>
			</div>
			<div>
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Simpan</button>
			</div>
		</form>
	</div>
	
</body>

</html>

