<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Cari Penduduk</title>

<script type="text/javascript" src="/DataTables/datatables.js"></script>
<script type="text/javascript" src="/DataTables/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/DataTables/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/DataTables/datatables.css" />
<link rel="stylesheet" href="/DataTables/jQuery.dataTables.min.css" />

</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	
	<div class="container">
		<h1 class="page-header">Cari Penduduk</h1>
		<div>
			<label for="kota">Kota</label> 
			<input class="form-control mr-sm-2"
					type="text"
					aria-label="Kota" 
					name="kota" 
					readonly="true" 
					th:value="${kota.namaKota}"/>
			<label for="kec">Kecamatan</label> 
			<input class="form-control mr-sm-2"
					type="text"
					aria-label="Kecamatan" 
					name="kec" 
					readonly="true" 
					th:value="${kec.namaKecamatan}"/>
			<label for="kel">Kelurahan</label> 
			<input class="form-control mr-sm-2"
					type="text"
					aria-label="Kelurahan" 
					name="kel" 
					readonly="true" 
					th:value="${kel.namaKelurahan}"/>
		</div>
		
		<hr/>
		
		<table id="pdd" class="display" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	                <th>NIK</th>
	                <th>Nama</th>
	                <th>Jenis Kelamin</th>
	            </tr>
	        </thead>
	        <tbody>
	            <div th:each="penduduk,iterationStatus: ${penduduks}">
		            <tr>
		            	<td th:text="${penduduk.nik}"></td>
		            	<td th:text="${penduduk.nama}"></td>
		            	<td th:text="${penduduk.jenisKelamin}==0?'Laki-laki':'Perempuan'"></td>
		            </tr>
		       	</div>
			</tbody>
		</table>
		<script>
			$(document).ready(function() {
			    $('#pdd').DataTable();
			} );
		</script>
	</div>
</body>

</html>

